<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- ur5e -->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro"/>

  <!-- arm -->
  <xacro:ur5_robot prefix="" />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- camera -->
  <xacro:arg name="use_nominal_extrinsics" default="false" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro"/>

  <xacro:sensor_d435 parent="wrist_3_link">
    <origin xyz="0.0 0.045 -0.03" rpy="0 0.0 1.57"/>
  </xacro:sensor_d435>

  <!-- vacuum gripper -->
  <xacro:include filename="$(find ur5e_cam_description)/urdf/grippers.urdf.xacro"/>

  <xacro:grippers parent="tool0">
  </xacro:grippers>

</robot>